[submodule "garrysmod_common"]
	path = garrysmod_common
	url = https://github.com/danielga/garrysmod_common
[submodule "source/shared"]
	path = source/shared
	url = https://github.com/Thendon/GspeakSharedCode.git
